<div class="canvaslayout canvaslayout7 display-flex display-flex-column">
    <div class="column display-flex flex1 flex-aligncenter">
        <a href=""
           class="btn-load-widget"
           translate="{{ 'createCanvas.loadWidget' }}">
        </a>
    </div>
    <div class="column display-flex flex1 flex-aligncenter">
        <a href=""
           class="btn-load-widget"
           translate="{{ 'createCanvas.loadWidget' }}">
        </a>
    </div>
    <div class="column display-flex flex1 flex-aligncenter">
        <a href=""
           class="btn-load-widget"
           translate="{{ 'createCanvas.loadWidget' }}">
        </a>
    </div>
</div>