<div id="eaiMessageDefinition">
    <div class="modal-body">
        <div class="row">
            <h4 class="text-center heading">
                Message Definition
                <i class="glyphicon glyphicon-remove pull-right remove-icon" data-ng-click="closeModal()"></i>
            </h4>
        </div>
        <div class="row table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="5">Message Name
                            <input type="text" disabled ng-model="definition.messageName">
                        </th>
                        <th colspan="6">Description
                            <input type="text" disabled ng-model="definition.description">
                        </th>
                    </tr>
                    <tr>
                        <th colspan="11">Format
                        <select ng-change="changeDataFormat()" ng-model="selectedDataFormat" ng-options="item.name for item in dataFormat"></select>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="11" class="center-aligned"><i>Message Definition</i></th>
                    </tr>
                    <tr>
                        <th>Seq</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Parent Segment</th>
                        <th>Description</th>
                        <th>Length</th>
                        <th>Starts</th>
                        <th>Ends</th>
                        <th>Seperator</th>
                        <th>Repeat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-fluid bg-info" ng-repeat="row in definition.levels">
                        <td width="40px;">
                            <input type="text" class="width-15" ng-model="row.seq">
                        </td>
                        <td>
                            <select ng-model="row.type" ng-options="item.name for item in dataTypes"></select>
                        </td>
                        <td>
                            <input type="text" class="width-50" ng-model="row.name">
                        </td>
                        <td>
                            <input type="text" class="width-50" ng-model="row.parentSegment">
                        </td>
                        <td>
                            <input type="text" class="width-50" ng-model="row.description">
                        </td>
                        <td>
                            <input type="text" class="width-25" ng-model="row.length">
                        </td>
                        <td>
                            <input type="text" class="width-25" ng-model="row.starts">
                        </td>
                        <td>
                            <input type="text" class="width-25" ng-model="row.ends">
                        </td>
                        <td>
                            <input type="text" class="width-25" ng-model="row.separator">
                        </td>
                        <td>
                            <input type="checkbox" class="width-25" ng-model="row.repeat">
                        </td>
                        <td>
                            <button class="btn-small btn-success" ng-if="!$first" data-ng-click="moveUp($index)"><i class="glyphicon glyphicon-arrow-up"></i></button>
                            <button ng-if="$first" class="btn-small fade"><i class="glyphicon"></button>
                            <button class="btn-small btn-success" ng-if="!$last" data-ng-click="moveDown($index)"><i class="glyphicon glyphicon-arrow-down"></i></button>
                            <button ng-if="$last" class="btn-small fade"><i class="glyphicon"></button>
                            <button class="btn-small btn-danger" data-ng-click="deleteRow($index)"><i class="glyphicon glyphicon-remove-sign"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
                id="btnAddLevel"
                data-ng-click="addLevel()"
                translate="{{ 'button.addLevel' }}"></button>
        <button class="btn btn-success"
                id="btnOk"
                data-ng-click="closeModal()"
                translate="{{ 'button.ok' }}"></button>
        <button class="btn btn-warning"
                id="btnCancel"
                value="cancel"
                data-ng-click="closeModal()"
                translate="{{ 'button.cancel' }}"></button>
    </div>
</div>