<div id="makeHomeCanvas">
	<div class="modal-body">
		<h4 translate="{{ 'user.areYouSureYouWantToMakeHomeCanvas' }}" translate-values="{{translationData}}"></h4>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" id="btn-make-home-canvas-ok-confirmation" value="ok" data-ng-click="makeHomeCanvas()" translate="{{ 'button.ok' }}"></button>
		<button class="btn btn-warning" id="btn-make-home-canvas-close-confirmation" value="cancel" data-ng-click="closeModal()" translate="{{ 'button.cancel' }}"></button>
	</div>
</div>