<h2 translate class="pageTitle">{{ 'landing.headline' }}</h2>
<dl>
    <dt>
        <a translate href='#'>{{ 'landing.panelItemHeading' }}</a>
    </dt>
    <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et mollis ipsum. Fusce rutrum condimentum volutpat. Vivamus laoreet id tellus condimentum varius.
    </dd>
</dl>
<dl>
    <dt>
        <a translate href='#'>{{ 'landing.panelItemHeading' }}</a>
    </dt>
    <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et mollis ipsum. Fusce rutrum condimentum volutpat. Vivamus laoreet id tellus condimentum varius.
    </dd>
</dl>
<dl>
    <dt>
        <a translate href='#'>{{ 'landing.panelItemHeading' }}</a>
    </dt>
    <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et mollis ipsum. Fusce rutrum condimentum volutpat. Vivamus laoreet id tellus condimentum varius.
    </dd>
</dl>
<dl>
    <dt>
        <a translate href='#'>{{ 'landing.panelItemHeading' }}</a>
    </dt>
    <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et mollis ipsum. Fusce rutrum condimentum volutpat. Vivamus laoreet id tellus condimentum varius.
    </dd>
</dl>
<button class="all-posts btn btn-info pull-right" data-ng-click="handleAllPosts()" translate="{{ 'button.allPosts' }}"></button>