<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 localeContainer">
	<div class="btn-group pull-right" dropdown>
		<button type="button" class="btn btn-danger btn-sm">
			<b translate>{{ 'locale.languageCode' }}</b> | <span translate>{{ 'menu.changeLanguage' }}</span>
		</button>
		<button type="button" class="btn btn-danger btn-sm dropdown-toggle">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="" ng-click="changeLanguage('de')" translate> {{ 'locale.languageDE' }}</a>
			</li>
			<li>
				<a href="" ng-click="changeLanguage('en')" translate> {{ 'locale.languageEN' }}</a>
			</li>
			<li>
				<a href="" ng-click="changeLanguage('fr')" translate> {{ 'locale.languageFR' }}</a>
			</li>
		</ul>
	</div>
</div>