<div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 dropup bottomleft">
    <div class="clearer" dropdown resize-tab-bar>
        <li data-ng-repeat="canvasBarItem in canvasBar" data-ng-class="getActiveClass(canvasBarItem.canvasId)">
            <div class="btn-group">
            <a ui-sref="canvases.detail({canvasId:canvasBarItem.canvasId})" class="btn btn-default" 
            	data-ng-class="getActiveClass(canvasBarItem.canvasId)"> {{ canvasBarItem.canvasName }}</a>
                <button data-ng-click="CloseCanvas(canvasBarItem.canvasId)" id="closeCanvas_{{canvasBarItem.canvasId}}" class="btn btn-default">&times;</button>
            </div>
        </li>
    </div>
</div>